@charset "UTF-8";
/* import icons bootsrap5*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* import fonts*/
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
/* ******************** var color ******************** */
:root {
  --NB000: #fff;
  /*white - rgb(255,255,255) - hsl(0, 0%, 100%)*/
  --NB250: #E6E6E8;
  /*rgb(230,230,232) - hsl(240, 4%, 91%)*/
  --NB500: #cacaca;
  /*rgb(202,202,202) - hsl(0, 0%, 79%)*/
  --NB750: #878787;
  /*rgb(135,135,135) - hsl(0, 0%, 53%)*/
  --NB800: #404040;
  /*rgb(64,64,64) - hsl(0, 0%, 25%)*/
  --NB1000: #000;
  /*black - rgb(0,0,0) - hsl(0, 0%, 0%)*/
  --HOT100: #FFF800;
  /*rgb(255,248,0) - hsl(58, 100%, 50%)*/
  --HOT500: #FF7305;
  /*rgb(255,115,5) - hsl(26, 100%, 51%)*/
  --HOT900: #FF0000;
  /*red - rgb(255,0,0) - hsl(0, 100%, 50%)*/
  --police: 'Fredericka the Great', arial, sans-serif, system-ui, roboto;
}

/* ******************** var font-size  ******************** */
/* ******************** GENERAL ********************** */
h1 {
  text-align: center;
  font-size: 2.8em;
  font-family: var(--police);
}

h2 {
  text-align: center;
  font-size: 2.24em;
}

h3 {
  font-size: 1.96em;
  margin-top: 20px;
}

h4 {
  font-size: 1.54em;
  margin-top: 10px;
}

h5 {
  font-size: 1.47em;
}

p {
  margin-top: 15px;
  font-size: 1.4em;
}

span.md, span.lg, div.md.map, div.lg.map, .xl {
  display: none;
}

div.text {
  padding: 0 20px;
}

/**************************************************************/
/********************* Responsive Tablet **********************/
@media only screen and (min-width: 415px) {
  span.md, div.md.map, #mdImg2 {
    display: unset;
  }
}

/***************************************************************/
/********************* Responsive Desktop **********************/
@media only screen and (min-width: 769px) {
  div.mainTopLogo img {
    width: auto;
    height: 181px;
  }
  span.lg, div.lg.map, #lgImg3 {
    display: unset;
  }
  .noLg {
    display: none;
  }
}

/***************************************************************/
/******************* Responsive Desktop xl ********************/
@media only screen and (min-width: 1192px) {
  .nolx {
    display: none;
  }
  .xl {
    display: unset;
  }
}

/* ******************** NAVBAR MENU ********************** */
header {
  background: var(--NB000);
  height: 80px;
  /*!Ne pas enlever bar menu fixe*/
}

a.navbar-brand img {
  width: 40px;
  height: 40px;
}

div.headerMenu {
  width: 100vw;
}

nav.a:hover {
  color: var(--HOT500);
  fill: rgba(255, 115, 5, 0.8);
}

nav a svg.myLogo {
  width: 14px;
  height: auto;
  fill: var(--NB750);
}

nav a svg.myLogo:hover {
  fill: rgba(255, 115, 5, 0.8);
}

div.headerNavButtonDiv {
  background-image: url(img/LogoDev.png);
}

button div img {
  width: 20px;
  height: 20px;
}

button:focus div#bebe {
  display: none;
  width: 20px;
  height: 20px;
}

/* Classe principale de la barre de navigation */
.navbar {
  /* Couleur de fond de la barre de navigation */
  background-color: var(--NB000);
  border-color: var(--NB000);
  font-size: 1.12em;
}

/* Couleur des titres affichés dans la barre */
.navbar .navbar-brand {
  color: var(--NB800);
  font-family: var(--police);
  font-size: 1.12em;
}

/* Couleur utilisée lors du passage de la souris sur un titre de la barre */
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: var(--HOT500);
}

/* Couleur utilisée pour les liens */
.navbar .navbar-nav > li > a {
  color: var(--NB800);
}

/*Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: var(--HOT500);
}

/* ******************** PRESENTATION ********************** */
div.mainTopPresentationDivH1 {
  width: 100%;
  color: var(--HOT500);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div svg {
  width: 32px;
  height: auto;
  fill: rgba(255, 115, 5, 0.8);
}

div .lineSeparatorH1 {
  margin: 0px auto 0px -35px;
  border: 0.5px dashed rgba(255, 115, 5, 0.8);
  width: 51vw;
  text-align: center;
  -webkit-box-shadow: 1px 0.5px 2px 0px var(--NB1000);
          box-shadow: 1px 0.5px 2px 0px var(--NB1000);
}

div.mainTopPresentationImg#mainTopPresentationImgCss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  background-image: url(img/#mainTopPresentationImgCss);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainTopPresentationDivH1 svg {
  width: 35px;
  height: auto;
  margin-right: 30px;
}

.divH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* ******************** SEPARATOR LINE ********************** */
div.lineSeparator {
  margin: 40px auto 80px auto;
  border: 1px solid var(--HOT500);
  width: 80px;
  text-align: center;
  -webkit-box-shadow: 1px 0.5px 2px 0px var(--NB1000);
          box-shadow: 1px 0.5px 2px 0px var(--NB1000);
}

/* ******************** UNDERTITLE ********************** */
div.underLineTitleH2 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

div.underLineGraphic {
  width: 80px;
  height: 2px;
  margin: 0px 10px;
  border: 1px solid var(--HOT500);
  text-align: center;
  -webkit-box-shadow: 1px 0.5px 2px 0px var(--NB1000);
          box-shadow: 1px 0.5px 2px 0px var(--NB1000);
}

div.bibi {
  width: 32px;
  height: 32px;
  background-size: 32px;
  background-repeat: no-repeat;
  margin: 10px;
}

/********************* FOOTER ***********************/
footer {
  background-color: var(--NB800);
  color: var(--NB000);
  font-size: 0.7em;
  text-align: center;
  margin-top: 50px;
}

i.bibiUp {
  font-size: 1.4em;
  color: var(--NB000);
}

div.pageUp {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */