@charset "UTF-8";
/* ******************** RESET ********************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* import icons bootsrap5*/
/* import fonts*/
/* ******************** var color ******************** */
:root {
  --NB000: #fff;
  /*white - rgb(255,255,255) - hsl(0, 0%, 100%)*/
  --NB250: #E6E6E8;
  /*rgb(230,230,232) - hsl(240, 4%, 91%)*/
  --NB500: #cacaca;
  /*rgb(202,202,202) - hsl(0, 0%, 79%)*/
  --NB750: #878787;
  /*rgb(135,135,135) - hsl(0, 0%, 53%)*/
  --NB800: #404040;
  /*rgb(64,64,64) - hsl(0, 0%, 25%)*/
  --NB1000: #000;
  /*black - rgb(0,0,0) - hsl(0, 0%, 0%)*/
  --HOT100: #FFF800;
  /*rgb(255,248,0) - hsl(58, 100%, 50%)*/
  --HOT500: #FF7305;
  /*rgb(255,115,5) - hsl(26, 100%, 51%)*/
  --HOT900: #FF0000;
  /*red - rgb(255,0,0) - hsl(0, 100%, 50%)*/
  --police: 'Fredericka the Great', arial, sans-serif, system-ui, roboto;
}

/* ******************** var font-size  ******************** */
/* ******************** GENERAL ********************** */
h1 {
  text-align: center;
  font-size: 200%;
  font-family: var(--police);
}

h2 {
  text-align: center;
  font-size: 600%;
}

h3 {
  font-size: 140%;
  margin-top: 20px;
}

h4 {
  font-size: 110%;
  margin-top: 10px;
}

h5 {
  font-size: 105%;
}

p {
  margin-top: 15px;
  font-size: 100%;
}

span.md, span.lg, div.md.map, div.lg.map, .xl {
  display: none;
}

div.text {
  padding: 0 20px;
}

/* ******************** NAVBAR MENU ********************** */
header {
  background: var(--NB000);
  height: 80px;
  /*!Ne pas enlever bar menu fixe*/
}

a.navbar-brand img {
  width: 40px;
  height: 40px;
}

div.headerMenu {
  width: 100vw;
}

nav.a:hover {
  color: var(--HOT500);
  fill: rgba(255, 115, 5, 0.8);
}

nav a svg.myLogo {
  width: 14px;
  height: auto;
  fill: var(--NB750);
}

nav a svg.myLogo:hover {
  fill: rgba(255, 115, 5, 0.8);
}

div.headerNavButtonDiv {
  background-image: url(img/LogoDev.png);
}

button div img {
  width: 20px;
  height: 20px;
}

button:focus div#bebe {
  display: none;
  width: 20px;
  height: 20px;
}

/* Classe principale de la barre de navigation */
.navbar {
  /* Couleur de fond de la barre de navigation */
  background-color: var(--NB000);
  border-color: var(--NB000);
  font-size: 80%;
}

/* Couleur des titres affichés dans la barre */
.navbar .navbar-brand {
  color: var(--NB800);
  font-family: var(--police);
  font-size: 80%;
}

/* Couleur utilisée lors du passage de la souris sur un titre de la barre */
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: var(--HOT500);
}

/* Couleur utilisée pour les liens */
.navbar .navbar-nav > li > a {
  color: var(--NB800);
}

/*Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: var(--HOT500);
}

/* ******************** PRESENTATION ********************** */
div.mainTopPresentationDivH1 {
  width: 100%;
  color: var(--HOT500);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div svg {
  width: 32px;
  height: auto;
  fill: rgba(255, 115, 5, 0.8);
}

div .lineSeparatorH1 {
  margin: 0px auto 0px -35px;
  border: 0.5px dashed rgba(255, 115, 5, 0.8);
  width: 51vw;
  text-align: center;
  -webkit-box-shadow: 1px 0.5px 2px 0px var(--NB1000);
          box-shadow: 1px 0.5px 2px 0px var(--NB1000);
}

div.mainTopPresentationImg#mainTopPresentationImgCss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
  background-image: url("../img/imgPresentation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainTopPresentationDivH1 svg {
  width: 35px;
  height: auto;
  margin-right: 30px;
}

.divH1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* ******************** SECTION WELCOME ********************** */
div#welcomeIcon {
  background-image: url(../bootstrap-icons-1.8.1/bookmark-check.svg);
}

div.text {
  padding: 0 20vw;
}

/* ******************** SECTION EXPERIENCES ********************** */
div#experiencesIcon {
  background-image: url(../bootstrap-icons-1.8.1/building.svg);
}

.timeline {
  padding: 30px 10px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  /* il faut présence d'un "content", si non pas de contenu et pas de Before */
  width: 2px;
  /*width: 5px;*/
  background: var(--NB800);
  left: 40px;
  /* elle se place à 50% de ecran, attention epaisseur du trait */
  margin-left: -1px;
  /*margin-left: -2.5px; on décale le trait de 1/2 epaisseur du trait vers la droite */
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:after {
  clear: both;
  /* Nettoyer les float left et right */
}

.timeline > li:before, .timeline > li:after {
  content: " ";
  /* pour voir le content il faut que "content soit présent */
  display: table;
}

.timeline li .timeline-badge {
  color: var(--HOT500);
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 30px;
  margin-left: -25px;
  background-color: var(--NB800);
  border: 1px solid var(--NB500);
  border-radius: 80%;
  /*border-radius: 50%;*/
}

.timeline-panel-container {
  width: 90%;
  float: left;
}

.timeline-panel-container-inverted {
  width: 90%;
  float: left;
}

.timeline-panel {
  width: 90%;
  float: left;
  margin-left: 67.5px;
  border: 1px solid var(--NB000);
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: var(--NB750);
}

.timeline-panel-container-inverted .timeline-panel {
  float: left;
  margin-left: 67.5px;
}

.timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid var(--NB750);
  border-right: 0 solid var(--NB750);
  border-bottom: 14px solid transparent;
  content: " ";
  border-left-width: 0;
  border-right-width: 14px;
  right: auto;
}

.timeline-panel-container-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-heading h3 {
  margin-top: 5px;
  font-size: 20px;
  color: var(--NB000);
}

.timeline-heading h4 {
  color: var(--HOT500);
}

p#yearToYear {
  color: var(--NB000);
}

/* ******************** SECTION STUDIES ********************** */
section.StudyFormation:before {
  position: absolute;
  left: calc(50vw - 14px);
  /*!!!attention formule respecter les espaces!!!!*/
  width: 28px;
  height: 14px;
  border-top: 14px solid var(--NB000);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 0 solid var(--NB000);
  padding: 0px;
  content: "";
}

section.StudyFormation:after {
  position: absolute;
  left: calc(50vw - 14px);
  /*!!!attention formule respecter les espaces!!!!*/
  margin-top: -14px;
  width: 28px;
  height: 14px;
  border-top: 0 solid var(--NB000);
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid var(--NB000);
  padding: 0px;
  content: "";
}

i.bi.bi-mortarboard-fill {
  font-size: 32px;
  color: var(--HOT500);
}

div.backgroundStudyFormation {
  background-color: var(--NB800);
  padding: 70px 47.5px 104px;
}

div.studyH2 > h2 {
  color: var(--NB000);
}

span.minimise {
  font-size: 12px;
}

div.studiPlusLogo {
  text-align: center;
  margin: 50px 0 50px 0;
}

div.studiPlusLogo img {
  width: 75%;
}

div.certificate.col-sm-12.col-md-6 {
  width: 100%;
}

div.certificate {
  background-color: var(--NB750);
  display: inline-block;
  border-radius: 20px;
}

div.content.mainCertificate, div.certificateAside, div.certificateMain {
  margin-bottom: 55px;
}

div.certificate > div.bibiCertificateIcon {
  text-align: center;
  font-size: 24px;
  color: var(--NB800);
}

div.certificate h3 {
  text-decoration: none;
  text-align: center;
  color: var(--NB000);
}

div.certificate h4 {
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
  color: var(--NB800);
}

div.certificate p {
  text-align: center;
  color: var(--NB000);
}

i.bibi {
  font-size: 32px;
  color: var(--NB000);
  text-align: center;
}

/********************* SECTION TECHNICAL SKILLS ***********************/
div#skillsIcon {
  background-image: url(../bootstrap-icons-1.8.1/keyboard.svg);
}

div.skillsTechnic {
  margin-left: 10vw;
  margin-right: 10vw;
}

/*
div.langages, div.toolsLangages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}*/
div.progressTheme {
  background-color: var(--NB500);
}

.progressH {
  margin-left: 5px;
}

div.progress {
  width: 90%;
  margin-left: 5px;
  background-color: var(--NB1000);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

div.progress-bar {
  background-color: VAR(--HOT500);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Progressbar transition :hover*/
.progressTheme {
  width: 500px;
  text-align: center;
}

.progress {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 15px;
  margin-top: 1px;
  background-color: #ee303c;
  border-top-right-radius: 10px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

div.progressTheme:hover .progress-bar.seventy {
  width: 100%;
  -webkit-animation: progressAnimationStrikeSeventy 3.5s;
          animation: progressAnimationStrikeSeventy 3.5s;
}

@-webkit-keyframes progressAnimationStrikeSeventy {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes progressAnimationStrikeSeventy {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

div.progressTheme:hover .progress-bar.eighty-five {
  width: 100%;
  -webkit-animation: progressAnimationStrikeEightyFive 4.25s;
          animation: progressAnimationStrikeEightyFive 4.25s;
}

@-webkit-keyframes progressAnimationStrikeEightyFive {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes progressAnimationStrikeEightyFive {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

div.progressTheme:hover .progress-bar.ninety {
  width: 100%;
  -webkit-animation: progressAnimationStrikeNinety 4.5s;
          animation: progressAnimationStrikeNinety 4.5s;
}

@-webkit-keyframes progressAnimationStrikeNinety {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes progressAnimationStrikeNinety {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

div.progressTheme:hover .progress-bar.hundred {
  width: 100%;
  -webkit-animation: progressAnimationStrikeHundred 5s;
          animation: progressAnimationStrikeHundred 5s;
}

@-webkit-keyframes progressAnimationStrikeHundred {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes progressAnimationStrikeHundred {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/********************* SECTION CONTACT ***********************/
section#coordonate {
  height: 100%;
}

/*
div#contactMap { 
    display:flex;
    width:240px;
    height:auto;
}*/
div.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.carteMap {
  width: 240px;
  /*100%;*/
  height: auto;
}

img#mapImg {
  width: 240px;
}

div.myCoordonatesPro {
  background-color: var(--NB800);
  height: 100%;
  border-radius: 1px solid var(--NB000);
  color: var(--NB000);
  padding: 10vw 0 10vw 0;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3.5px 10px -3px var(--NB800);
          box-shadow: 1px 3.5px 10px -3px var(--NB800);
  width: 240px;
  height: 100%;
}

i.bi.bi-person-lines-fill {
  color: var(--NB000);
  font-size: 32px;
}

div.coordonatesContent h5, div.coordonatesContent P {
  text-align: center;
  color: var(--NB000);
}

div.bibiCenter {
  text-align: center;
  margin: 30px 0 30px 0;
}

/*
div.contactUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    float:left;
}*/
/*
img#smImg, div#divSmMap {
    width:240px;
    height:200px;
}
#lgImg3,#mdImg2 {
    display: none;
}
*/
/***************************************************************/
/********************* Responsive  Lg **********************/
@media only screen and (min-width: 769px) {
  div.mainTopLogo img {
    width: auto;
    height: 181px;
  }
  span.lg, div.lg.map, #lgImg3 {
    display: unset;
  }
  .noLg {
    display: none;
  }
  /*** (lg) EXPEREINCE (lg) ***/
  .timeline:before {
    left: 50%;
    /* elle se place à 50% de ecran, attention epaisseur du trait */
  }
  .timeline li .timeline-badge {
    left: 50%;
  }
  .timeline-panel-container {
    width: 50%;
  }
  .timeline-panel-container-inverted {
    width: 50%;
    float: right;
  }
  .timeline-panel {
    float: right;
    margin-right: 40px;
  }
  .timeline-panel-container-inverted .timeline-panel {
    margin-left: 40px;
  }
  .timeline-panel:after {
    display: none;
  }
  .timeline-panel:before {
    position: absolute;
    top: 27px;
    right: -14px;
    /*right: -14px;*/
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid var(--NB750);
    border-right: 0 solid var(--NB750);
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline-panel-container-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  /*** (lg) STUDIES (lg) ***/
  div.sectionsCerticate.row {
    margin-left: 10vw;
    margin-right: 10vw;
  }
  div.mainCertificate {
    padding-right: 5vw;
  }
  div.asideCertificate {
    padding-left: 5vw;
  }
  div.subsectionCertificate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.container.certificate {
    width: 100%;
    background-color: var(--NB750);
    display: inline-block;
    border-radius: 20px;
  }
  div.container.main {
    height: 100%;
  }
  /*** (lg) SKILLS (lg) ***/
  div.skillsTechnic {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  /*** (lg) CONTACT (lg) ***/
  /*div.contactUs {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-content: center;
    }*/
  div.myCoordonatesPro {
    /* position:absolute;*/
    z-index: 2;
    width: 360px;
  }
  /*
    div#contactMap {
        position: relative;
        right:0px;
        width:240px;
        height:100%;
    }*/
  div.carteMap {
    /* position:relative;*/
    width: 100%;
    /*100%;*/
    height: auto;
    top: 330px;
    right: 20px;
  }
  img#mapImg {
    width: 100%;
    height: auto;
  }
  div.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/**************************************************************/
/********************* Responsive Tablet **********************/
@media only screen and (min-width: 415px) {
  span.md, div.md.map, #mdImg2 {
    display: unset;
  }
}

/***************************************************************/
/******************* Responsive Desktop xl ********************/
@media only screen and (min-width: 1192px) {
  .nolx {
    display: none;
  }
  .xl {
    display: unset;
  }
}

/* ******************** SEPARATOR LINE ********************** */
div.lineSeparator {
  margin: 40px auto 80px auto;
  border: 1px solid var(--HOT500);
  width: 80px;
  text-align: center;
  -webkit-box-shadow: 1px 0.5px 2px 0px var(--NB1000);
          box-shadow: 1px 0.5px 2px 0px var(--NB1000);
}

/* ******************** UNDERTITLE ********************** */
div.underLineTitleH2 {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

div.underLineGraphic {
  width: 80px;
  height: 2px;
  margin: 0px 10px;
  border: 1px solid var(--HOT500);
  text-align: center;
  -webkit-box-shadow: 1px 0.5px 2px 0px var(--NB1000);
          box-shadow: 1px 0.5px 2px 0px var(--NB1000);
}

div.bibi {
  width: 32px;
  height: 32px;
  background-size: 32px;
  background-repeat: no-repeat;
  margin: 10px;
}

/********************* FOOTER ***********************/
footer {
  background-color: var(--NB800);
  color: var(--NB000);
  font-size: 50%;
  text-align: center;
  margin-top: 50px;
}

i.bibiUp {
  font-size: 100%;
  color: var(--NB000);
}

div.pageUp {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */