/********************* FOOTER ***********************/
footer {
    background-color: var(--NB800);
    color:var(--NB000);
    font-size: $sizeP* 0.5;
    text-align: center;
    margin-top:50px;
}
i.bibiUp {
    font-size: $sizeP* 1;
    color:var(--NB000);
}
div.pageUp {
    margin-bottom: 10px;;
}