/* ******************** PRESENTATION ********************** */
div.mainTopPresentationDivH1 {
    width:100%;
    color: var(--HOT500);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div svg {
    width:32px;
    height:auto;
    fill:rgba(255,115,5,0.8);
}
div .lineSeparatorH1 {
    margin: 0px auto 0px -35px;
    border: 0.5px dashed rgba(255,115,5,0.8);
    width: 51vw;
    text-align: center;
    box-shadow: 1px 0.5px 2px 0px var(--NB1000);
}
div.mainTopPresentationImg#mainTopPresentationImgCss {
    display:flex;
    width:100%;
    height:70vh;
    background-image: url('../img/imgPresentation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mainTopPresentationDivH1 svg {
    width:35px;
    height:auto;
    margin-right:30px;
}
.divH1 {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ******************** SECTION WELCOME ********************** */
div#welcomeIcon {
    background-image: url(../bootstrap-icons-1.8.1/bookmark-check.svg);
}
div.text{
    padding:0 20vw;
}

/* ******************** SECTION EXPERIENCES ********************** */
div#experiencesIcon {
    background-image: url(../bootstrap-icons-1.8.1/building.svg);
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before /* Cela veut dire: AVANT Evênement timeline, Dessine la Timeline */
{
    top:0;
    bottom: 0;
    position: absolute;
    content: " "; /* il faut présence d'un "content", si non pas de contenu et pas de Before */
    width: 2px;/*width: 5px;*/
    background: var(--NB800);
        left: 40px; /* elle se place à 50% de ecran, attention epaisseur du trait */
    margin-left: -1px; /*margin-left: -2.5px; on décale le trait de 1/2 epaisseur du trait vers la droite */
}
.timeline > li  /*  ">" Désigne l'enfant direct ("li") de la class .timeline (soit le 1er "li") */
{
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:after  /*  ">"+after Désigne l'enfant d'après l'enfant direct ("li") de .timeline (soit le 2e "li") */
{
    clear: both; /* Nettoyer les float left et right */
}

.timeline > li:before, .timeline > li:after
{
    content: " ";    /* pour voir le content il faut que "content soit présent */
    display: table;
}

.timeline li .timeline-badge  /* C'est le logo sur la timeline avec la valisette */
{
    color: var(--HOT500);
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
        left: 30px;
    margin-left: -25px;
    background-color: var(--NB800);
    border: 1px solid var(--NB500);
    border-radius: 80%;/*border-radius: 50%;*/
}
.timeline-panel-container{
        width: 90%;
        float: left;
}
.timeline-panel-container-inverted{
        width: 90%;
        float: left;
}
.timeline-panel{
    width: 90%;
        float: left;
        margin-left: 67.5px;
    border: 1px solid var(--NB000);
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: var(--NB750);
    
}
.timeline-panel-container-inverted .timeline-panel
{
    float: left;
        margin-left: 67.5px;
}

.timeline-panel:after  /*C'est la panel (le pti triangle liant le logoValise et bulle texte)  */
{
    position: absolute;
    top: 27px;
        left: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid var(--NB750);
    border-right: 0 solid var(--NB750);
    border-bottom: 14px solid transparent;
    content: " ";
    border-left-width: 0;
    border-right-width: 14px;
    right: auto;
}

.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
    color: var(--NB000);
}

.timeline-heading h4
{
    color: var(--HOT500);
}
p#yearToYear  {
    color: var(--NB000);
}

/* ******************** SECTION STUDIES ********************** */

section.StudyFormation:before  /*le pti triangle  du haut blanc deco de "pliant")*/
{
    position: absolute;
    left:calc(50vw - 14px);/*!!!attention formule respecter les espaces!!!!*/
    width:28px;
    height:14px;
    border-top: 14px solid var(--NB000);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 0 solid var(--NB000);
    padding: 0px;
    content: "";
}
section.StudyFormation:after  /*le pti triangle  du bas blanc deco de "pliant")*/
{
    position: absolute;
    left:calc(50vw - 14px);/*!!!attention formule respecter les espaces!!!!*/
    margin-top:-14px;
    width:28px;
    height:14px;
    border-top: 0 solid var(--NB000);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid var(--NB000);
    padding: 0px;
    content: "";
}
i.bi.bi-mortarboard-fill {
    font-size: 32px;
    color: var(--HOT500);
}
div.backgroundStudyFormation {
    background-color: var(--NB800);
    padding: 70px 47.5px 104px;
}
div.studyH2>h2 {
    color: var(--NB000);
}
span.minimise {
    font-size:12px;
}
div.studiPlusLogo {
    text-align: center;
    margin:50px 0 50px 0;
}
div.studiPlusLogo img {
    width:75%;
}
div.certificate.col-sm-12.col-md-6 {
    width:100%;
}
div.certificate {
    background-color: var(--NB750);
    display:inline-block;
    border-radius: 20px;
}
div.content.mainCertificate, div.certificateAside, div.certificateMain {
    margin-bottom:55px;
}
div.certificate>div.bibiCertificateIcon {
    text-align: center;
    font-size: 24px;
    color: var(--NB800);
}
div.certificate h3 {
    text-decoration: none;
    text-align: center;
    color: var(--NB000);
}
div.certificate h4 {
    margin-bottom:30px;
    text-decoration: none;
    text-align: center;
    color: var(--NB800);
}
div.certificate p {
    text-align: center;
    color: var(--NB000);
}
i.bibi {
    font-size: 32px;
    color: var(--NB000);
    text-align: center;
}

/********************* SECTION TECHNICAL SKILLS ***********************/
div#skillsIcon {
    background-image: url(../bootstrap-icons-1.8.1/keyboard.svg);
}
div.skillsTechnic {
    margin-left:10vw;
    margin-right:10vw;
}/*
div.langages, div.toolsLangages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}*/

div.progressTheme {
    background-color: var(--NB500);
}
.progressH {
    margin-left:5px;
}
div.progress {
    width:90%;
    margin-left:5px;
    background-color: var(--NB1000);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.progress-bar {
    background-color: VAR(--HOT500);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Progressbar transition :hover*/
.progressTheme {
    width: 500px;
    text-align: center;
}

.progress {
border-radius: 10px;
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {	
height: 15px;
margin-top:1px;
    background-color: #ee303c;  
border-top-right-radius: 10px; 
transition: 0.4s linear;  
transition-property: width, background-color;    
}

div.progressTheme:hover .progress-bar.seventy {
width: 100%;
animation: progressAnimationStrikeSeventy 3.5s;
}  
@keyframes progressAnimationStrikeSeventy {
    from { width: 0 }
    to   { width: 70% }
}

div.progressTheme:hover .progress-bar.eighty-five {
width: 100%;
animation: progressAnimationStrikeEightyFive 4.25s;
}
@keyframes progressAnimationStrikeEightyFive {
    from { width: 0 }
    to   { width: 85% }
}

div.progressTheme:hover .progress-bar.ninety {
width: 100%;
animation: progressAnimationStrikeNinety 4.5s;
}
@keyframes progressAnimationStrikeNinety {
    from { width: 0 }
    to   { width: 90% }
}

div.progressTheme:hover .progress-bar.hundred {
width: 100%;
animation: progressAnimationStrikeHundred 5s;
}  
@keyframes progressAnimationStrikeHundred {
    from { width: 0 }
    to   { width: 100% }
}

/********************* SECTION CONTACT ***********************/
section#coordonate {
    height:100%;
}/*
div#contactMap { 
    display:flex;
    width:240px;
    height:auto;
}*/
div.contact {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.carteMap {
    width:240px;/*100%;*/
    height:auto;
}
img#mapImg {
    width:240px;
}

div.myCoordonatesPro {
    background-color: var(--NB800);
    height:100%;
    border-radius:1px solid var(--NB000);
    color:var(--NB000);
    padding:10vw 0 10vw 0;
    border-radius: 10px;
    box-shadow: 1px 3.5px 10px -3px var(--NB800);
    width:240px;
    height:100%;
}
i.bi.bi-person-lines-fill {
    color:var(--NB000);
    font-size: 32px;
}
div.coordonatesContent h5, div.coordonatesContent P {
    text-align: center;
    color: var(--NB000);
}

div.bibiCenter {
    text-align: center;
    margin:30px 0 30px 0;
}
.downloadFile {
    
    border-radius: 5px;
    background-color: var(--NB250); 
}

.btnDownload:hover {
    border-color: var(--HOT500);
}
.btnDownload:focus {
    background-color:var(--HOT500)
}
/*
div.contactUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    float:left;
}*//*
img#smImg, div#divSmMap {
    width:240px;
    height:200px;
}
#lgImg3,#mdImg2 {
    display: none;
}
*/




