/***************************************************************/
/********************* Responsive  Lg **********************/
@media only screen and (min-width:769px) {
    div.mainTopLogo img{
        width:auto;
        height:181px;
    }
    span.lg, div.lg.map, #lgImg3 {
        display:unset;
    }
    .noLg {
        display:none;
    }

    /*** (lg) EXPEREINCE (lg) ***/
    .timeline:before /* Cela veut dire: AVANT Evênement timeline, Dessine la Timeline */
    {
        left: 50%; /* elle se place à 50% de ecran, attention epaisseur du trait */
    }
    .timeline li .timeline-badge  /* C'est le logo sur la timeline avec la valisette */
    {
        left: 50%;
    }
    .timeline-panel-container {
        width: 50%;
    }
    .timeline-panel-container-inverted{
        width: 50%;
        float: right;
    }
    .timeline-panel {
        float:right;
        margin-right: 40px;
    }
    .timeline-panel-container-inverted .timeline-panel{
        margin-left: 40px;
    }
    .timeline-panel:after {
        display:none;
    }
    .timeline-panel:before  /*C'est la panel (le pti triangle liant le logoValise et bulle texte)  */
    {
        position: absolute;
        top: 27px;
        right: -14px;/*right: -14px;*/
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid var(--NB750);
        border-right: 0 solid var(--NB750);
        border-bottom: 14px solid transparent;
        content: " ";
    }
    .timeline-panel-container-inverted .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    /*** (lg) STUDIES (lg) ***/
div.sectionsCerticate.row {
    margin-left:10vw;
    margin-right:10vw;
}
div.mainCertificate {
    padding-right:5vw;
}
div.asideCertificate {
    padding-left:5vw;
}

div.subsectionCertificate {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div.container.certificate {
    width:100%;
    background-color: var(--NB750);
    display:inline-block;
    border-radius: 20px; 
}
div.container.main {
    height:100%;
}

/*** (lg) SKILLS (lg) ***/
div.skillsTechnic {
    margin-left:1vw;
    margin-right:1vw;
}

/*** (lg) CONTACT (lg) ***/
    /*div.contactUs {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-content: center;
    }*/
    
    div.myCoordonatesPro {
        /* position:absolute;*/
        z-index: 2;
        width:360px;
    }/*
    div#contactMap {
        position: relative;
        right:0px;
        width:240px;
        height:100%;
    }*/
    div.carteMap {
    /* position:relative;*/
        width:100%;/*100%;*/
        height:auto;
        top:330px;
        right:20px;
    }
    img#mapImg {
        width:100%;
        height:auto;
    }
    div.contact {
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }

}

